<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="Titulo"/></title>
        <h:outputStylesheet library="css" name="estilo.css"/>
    </h:head>
    <h:body>
        <div id="encabezado">
            <ui:insert  name="encabezado">
                <ui:include src="sessiones/cueva/header.xhtml"/>
            </ui:insert>
            <div id="lado">
                <ui:insert name="lado">
                    <ui:include src="sessiones/cueva/ladoizq.xhtml"/>
                </ui:insert>
            </div>
            <div id="contenido">
                <ui:insert name="contenido"/>
            </div>
        </div>
    </h:body>
</html>

