
h3
{
    color: blue;
}


body
{
    background-color: cadetblue;
}

.msj
{
    color: yellowgreen;
}

.header
{
    background-color: burlywood;
}

.ladoIzqLogin
{
    background-color: burlywood;
}

.ladoIzqCueva
{
    background-color: burlywood;
}