<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msj.IndexTitulo}</title>
        <h:outputStylesheet library="css" name="#{msj.css}" />
    </h:head>
    <h:body>
         <ui:composition template="templates/master.xhtml">
            
            <ui:define name="titulo">
                #{msj.tituloIndex}
            </ui:define>
             
             <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>

            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoizq.xhtml"/>
            </ui:define>
             
            <ui:define name="contenido">
            <div align="center">
           
                <h:form>
                      <div align="center"  >
                      <h1 style="background: burlywood"> #{msj.tituloIndex}</h1>
                      </div>
            <hr/>
                      <div align="center"  >
                      <h:panelGrid>
                      <h:outputLabel value="Usuario:"/>
                      <h:inputText id="login" label="usuario" required="true" value="#{Cuate.user}" />
                      <h:outputLabel value="Contraseña:"/>
                      <h:inputSecret id="pwd" label="contraseña" required="true" value="#{Cuate.password}"/>
                      </h:panelGrid>
                      </div>
            <hr/>
                      <div align="center">
                      <h:panelGroup>
                      <h:commandButton value="Ejecutar" action="#{Cuate.pagoCuates()}"/>
                      <h:button value="Cancelar" />
                      </h:panelGroup>
                      </div>
                </h:form>
           </div>
           </ui:define>
        </ui:composition>
      
    </h:body>
</html>
