<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msj.ListaPageTitulo}</title>
        
    </h:head>
    <h:body>
         <ui:composition template="templates/master.xhtml">
            
            <ui:define name="titulo">
                #{msj.tituloIndex}
            </ui:define>
             
             <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>

            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoizq.xhtml"/>
            </ui:define>
             
            <ui:define name="contenido">
                
                <h1 align="center">#{msj.TituloPaginaCuates}</h1>
        <h:form>
             <div align="center"  >
            <h:dataTable value="#{Cuate.listaCuates}" var="cuate">
               
                <f:facet name="caption">#{msj.TituloTabla}</f:facet>
                <h:column headerClass="header" footerClass="header">
                    <f:facet name="header">#{msj.HeaderColumna1}</f:facet>
                    #{cuate.apellidos}
                    <f:facet name="footer">#{msj.PieColumna1}</f:facet>
                </h:column>
                <h:column headerClass="header" footerClass="header">
                    <f:facet name="header">#{msj.HeaderColumna2}</f:facet>
                    #{cuate.nombres}
                    <f:facet name="footer">#{msj.PieColumna2}</f:facet>
                </h:column>
                <h:column headerClass="header" footerClass="header">
                    <f:facet name="header">#{msj.HeaderColumna3}</f:facet>
                    #{cuate.cuotas}
                    <f:facet name="footer">#{msj.PieColumna3}</f:facet>
                </h:column>
                <h:column headerClass="header" footerClass="header">
                    <f:facet name="header">#{msj.HeaderColumna4}</f:facet>
                    <h:selectManyCheckbox value="lenguajes">
                        <f:selectItem itemLabel="C#" itemValue="csharp"></f:selectItem>
                        <f:selectItem itemLabel="C++" itemValue="cplus"></f:selectItem>
                        <f:selectItem itemLabel="Java" itemValue="java"></f:selectItem>
                        <f:selectItem itemLabel="Scala" itemValue="scala"></f:selectItem>
                        <f:selectItem itemLabel="F#" itemValue="fsharp"></f:selectItem>
                        <f:selectItem itemLabel="Python" itemValue="python"></f:selectItem>
                    </h:selectManyCheckbox>
                    <f:facet name="footer">#{msj.PieColumna4}</f:facet>
                </h:column>
                
                <h:column headerClass="header" footerClass="header">
                    <f:facet name="header">#{msj.HeaderColumna5}</f:facet>
                    <h:graphicImage library="img" name="#{cuate.foto}.PNG"></h:graphicImage>              
                    <f:facet name="footer">#{msj.PieColumna5}</f:facet>
                </h:column>
                
            </h:dataTable>
             </div>
        </h:form>
        
         </ui:define>
        </ui:composition>
    </h:body>
</html>

